.no-bblend #video .section-img
{
	background-image:url(img/video.jpg),url(img/video-overlay.png);
}

.no-bblend #video:hover .section-img
{
	background-image:url(img/video-overlay.png),url(img/video.jpg);
}

.no-bblend #event .section-img
{
	background-image:url(img/event.jpg),url(img/event-overlay.png);
}

.no-bblend #event:hover .section-img
{
	background-image:url(img/event-overlay.png),url(img/event.jpg);
}

.no-bblend #gaming .section-img
{
	background-image:url(img/gaming.jpg),url(img/gaming-overlay.png);
}

.no-bblend #gaming:hover .section-img
{
	background-image:url(img/gaming-overlay.png),url(img/gaming.jpg);
}

.no-bblend #studio .section-img
{
	background-image:url(img/studio.jpg),url(img/studio-overlay.png);
}

.no-bblend #studio:hover .section-img
{
	background-image:url(img/studio-overlay.png),url(img/studio.jpg);
}