/***** Animations *****/
/***** Style *****/
/***** Layout *****/
#contact, #contact #contact-teamMember #teamMember-contactInformation, .contactForm {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; }

#contact {
  -webkit-align-items: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  align-items: center; }

#contact {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between; }

/***** Media Query *****/
/***** Color *****/
.text-info {
  color: orange !important; }

.text-alert {
  color: red !important; }

.text-success {
  color: green !important; }

/***** Font *****/
h1 {
  font-size: 4rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 20px 0px 30px 0px;
  color: #222222; }

h2 {
  font-size: 2.7rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 40px 0px 30px 0px; }

h3 {
  font-size: 2.5rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 40px 0px 30px 0px; }

h6 {
  font-size: 6rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 0px 0px 15px 0px; }

h7 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0px 0px 20px 0px; }

.fa {
  font-size: 2rem !important; }

.fa-mobile {
  font-size: 3rem !important; }

/***** Contact *****/
#contact {
  flex-wrap: nowrap; }
  #contact input, #contact textarea {
    padding: 15px; }
  #contact > div {
    flex-basis: 0; }
  @media screen and (max-width: 600px) {
    #contact {
      flex-wrap: wrap; }
      #contact > div {
        flex-basis: auto; } }
  #contact #contact-text {
    padding-right: 10vw;
    margin-bottom: 4vh;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    -ms-flex: 2; }
    @media screen and (max-width: 600px) {
      #contact #contact-text {
        padding-right: 0px; } }
  #contact #contact-teamMember {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -ms-flex: 1; }
    #contact #contact-teamMember #teamMember-image img {
      max-width: 100%;
      width: 100%;
      -webkit-filter: grayscale(100%); }
    #contact #contact-teamMember #teamMember-contactInformation a {
      margin: 20px 20px 0px 0px;
      border: solid 1px #383739;
      width: 50px;
      height: 50px;
      -webkit-transition-property: background-color, border;
      -moz-transition-property: background-color, border;
      -o-transition-property: background-color, border;
      transition-property: background-color, border;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      position: relative; }
      #contact #contact-teamMember #teamMember-contactInformation a i {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 2.7rem !important;
        color: #383739;
        -webkit-transition-property: color;
        -moz-transition-property: color;
        -o-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear; }
      #contact #contact-teamMember #teamMember-contactInformation a:hover {
        -webkit-transition-property: background-color, border;
        -moz-transition-property: background-color, border;
        -o-transition-property: background-color, border;
        transition-property: background-color, border;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        transition-timing-function: linear; }
        #contact #contact-teamMember #teamMember-contactInformation a:hover i {
          color: white;
          -webkit-transition-property: color;
          -moz-transition-property: color;
          -o-transition-property: color;
          transition-property: color;
          -webkit-transition-duration: 0.2s;
          -moz-transition-duration: 0.2s;
          -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: linear;
          -moz-transition-timing-function: linear;
          -o-transition-timing-function: linear;
          transition-timing-function: linear; }

#map {
  height: 60vh;
  width: 100%; }

/***** Contact Form *****/
#contactForm-bg {
  background-color: #f3f7fb; }

.contactForm input:focus, .contactForm textarea:focus {
  -webkit-box-shadow: inset 2px 2px 7px -2px rgba(186, 188, 190, 0.45);
  -moz-box-shadow: inset 2px 2px 7px -2px rgba(186, 188, 190, 0.45);
  box-shadow: inset 2px 2px 7px -2px rgba(186, 188, 190, 0.45); }

@media screen and (max-width: 1100px) {
  .contactForm {
    -webkit-flex-direction: column;
    flex-direction: column; } }

.contactForm .contactForm-sender {
  width: 32%;
  margin-right: 8%;
  display: block; }
  @media screen and (min-width: 600px) and (max-width: 1100px) {
    .contactForm .contactForm-sender {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      width: 100%; } }
  @media screen and (max-width: 600px) {
    .contactForm .contactForm-sender {
      width: 100%;
      margin-right: 0%; } }
  .contactForm .contactForm-sender > div {
    width: 100%; }
    @media screen and (min-width: 600px) and (max-width: 1100px) {
      .contactForm .contactForm-sender > div {
        width: 30%; } }
    .contactForm .contactForm-sender > div input {
      width: 100%;
      height: 40px;
      border: none; }

.contactForm .contactForm-message {
  width: 60%; }
  .contactForm .contactForm-message textarea {
    height: 180px;
    border: none; }
  @media screen and (max-width: 1100px) {
    .contactForm .contactForm-message {
      width: 100%; } }
  .contactForm .contactForm-message input[type="submit"] {
    background-color: transparent;
    border: 1px solid #222222;
    float: right;
    margin-top: 20px; }
    .contactForm .contactForm-message input[type="submit"]:hover {
      color: white; }
