/********** Frontpage **********/

@import "baseClass";
@import "theme-settings";

/****** Layout ******/

#frontpage-container
{
	@extend %flexbox;
	@extend %fullscreen;	
	
	height: 100vh;
	
	@media screen and (max-width: $break-small){
		-webkit-flex-direction: column;
		flex-direction: column;
		height: auto;
		
		> div{
			flex-basis: auto;
		}
	}
}

#section-container
{
	@extend %flexbox;
	@extend %flexDirection-row;;
	
	flex-basis: 75%;
	
	@media screen and (max-width: $break-middle){
		-webkit-flex-direction: column;
		flex-direction: column;
		
		flex-basis: 50%;
	}	
}


.section
{
	@include flex-grow(1);
	
	overflow: hidden;
    position: relative;
    
    @media screen and (max-width: $break-small){
		height: 30vh;
	}   
}

.section-img
{	
	@include transition-duration(0.3s);
	@include scale(1.0); 
	
	@extend %bgCover;
	position: absolute;
	height: 100%;
	width: 100%;
}


.section:hover .section-img
{
	@include scale(1.05,1.05);
	
	background-blend-mode: multiply;
}


.section-title
{
	font-size: 4rem;
	text-align: center;
	font-weight: 300;
	color: white;
	font-family: 'Oswald';	
	
	@include positionCenter(-50%,-50%);
		
	z-index: 999;
}

/** info container **/

#info-container
{
	position: relative;
	
	flex-basis: 25%;
	
	@media screen and (max-width: $break-middle){
		flex-basis: 50%;
	}	
	
	padding: 70px 50px 70px 50px;
}

#logo
{
	margin: 20px 0px 20px 0px;
}

#logo img
{
	height: 60px;
}



/* Contact Section */

#contact-table
{
	display: table;
	width: 100%;
	margin-top: 30px;
	border-spacing: 0px 15px;
}

#contact-table a
{
	color: $color-text;
}


.row  
{
   display: table-row; 
   width: 100%;
}

.row div 
{
    display: table-cell;
    vertical-align: top;
}

.row div:first-of-type 
{
    padding-right: 20px;
}

