/***** Animations *****/
/***** Style *****/
/***** Layout *****/
.offer_category .offers .offer .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.offer_category .offers, .offer_category .offers .offer {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; }

.offer_category .offers .offer {
  -webkit-flex-direction: column;
  flex-direction: column; }

/***** Media Query *****/
/***** Color *****/
.text-info {
  color: orange !important; }

.text-alert {
  color: red !important; }

.text-success {
  color: green !important; }

/***** Font *****/
h1 {
  font-size: 4rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 20px 0px 30px 0px;
  color: #222222; }

h2 {
  font-size: 2.7rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 40px 0px 30px 0px; }

h3 {
  font-size: 2.5rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 40px 0px 30px 0px; }

h6 {
  font-size: 6rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 0px 0px 15px 0px; }

h7 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0px 0px 20px 0px; }

.fa {
  font-size: 2rem !important; }

.fa-mobile {
  font-size: 3rem !important; }

#offers-bg {
  background-color: #f2f5f9; }

.offer_category {
  margin: 60px 0px 40px 0px; }
  .offer_category .offers {
    flex-wrap: wrap;
    width: 103%;
    margin-top: 5%;
    margin-left: -3%; }
    @media screen and (max-width: 1100px) {
      .offer_category .offers {
        width: 105%;
        margin-left: -5%; } }
    .offer_category .offers .offer {
      width: 22%;
      max-width: 22%;
      margin-left: 3%;
      margin-top: 3%;
      background-color: #FFFFFF; }
      @media screen and (max-width: 1100px) {
        .offer_category .offers .offer {
          width: 45%;
          max-width: 45%;
          margin-left: 5%;
          margin-top: 5%; } }
      @media screen and (max-width: 600px) {
        .offer_category .offers .offer {
          width: 100%;
          max-width: 100%;
          margin-left: 0px;
          margin-top: 10%; } }
      .offer_category .offers .offer .image {
        height: 100%;
        height: 150px; }
      .offer_category .offers .offer .text-container {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -ms-flex: 1;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        -ms-shrink: 0;
        -webkit-flex-basis: auto;
        /* Safari 6.1+ */
        flex-basis: auto;
        padding: 1.5vw; }
        @media screen and (max-width: 1100px) {
          .offer_category .offers .offer .text-container {
            padding: 3vw; } }
        @media screen and (max-width: 600px) {
          .offer_category .offers .offer .text-container {
            padding: 6vw; } }
        .offer_category .offers .offer .text-container .offer-title {
          font-family: "Oswald", Arial, sans-serif;
          font-weight: 400;
          font-size: 2.5rem;
          color: #222222; }
        .offer_category .offers .offer .text-container .offer-description {
          color: #a2a4a6;
          font-weight: 400; }
      .offer_category .offers .offer .offer-price {
        padding: 0px 1.5vw 1.5vw 1.5vw;
        font-family: "Oswald", Arial, sans-serif;
        color: #222222;
        font-size: 2.3rem;
        text-align: right;
        bottom: 0px; }
        @media screen and (max-width: 1100px) {
          .offer_category .offers .offer .offer-price {
            padding: 0px 3vw 3vw 3vw; } }
        @media screen and (max-width: 600px) {
          .offer_category .offers .offer .offer-price {
            padding: 2vw 6vw 6vw 6vw; } }
