@import "baseClass";
@import "theme-settings";

/********** Post Header Image & Title **********/

#header-image{
  height: 70vh;
  position: relative;
}

.post-image{
  @extend %bgCover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
}

.post-shadow{
  width: 100%;
  height: 100%;
  z-index: 300;
  position: absolute;
}

.post-content{

  position: absolute;
  @include positionCenter(-50%,-50%);
  z-index: 300;

  .post-title p{
    font-size: 10rem;
    font-family: $font-oswald;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 6vh;

    // background check
    &.background--light{
      color: black;
    }

    &.background--complex{
      color: white;
    }

    &.background--dark{
      color: white;
    }


    @media screen and (max-width: $break-small){
      font-size: 8.5vmax;
    }
  }
}


/********** Plugins **********/

#disqus_thread{
  margin-top: 80px;
}

/********** Header **********/

#nav-container{
  width: 100%;
  height: 80px;

  z-index: 2000000;

  @media screen and (max-height: $break-small){
    height: 60px;
  }
}

#nav-desktop{
  .search-opener{
    margin-left: 4vmax;
  }
}


.search-opener, #mobileMenu-opener{
  &:hover{
    cursor: pointer;
  }
}

#mobileMenu-opener{
  display: none;

  @media screen and (max-width: $break-middle) {
    display: block;
  }
}

#mobileMenu-opener{

  $bar-height: 1.2px;

  width: 30px;
  height: 35px;

  position: relative;

  @extend %userSelect-none;

  .middle-bar{
    display: block;
    height: $bar-height;
    background: black;
    width: 30px;

    @include positionCenter(-50%,-50%);

    @include transition-duration(0.2s);
    @include transition-property(background);

    &::before, &::after{
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $bar-height;
      background-color: black;
      content: "";

      @include transition-duration(0.2s,0.2s);
      @include transition-delay(0.2s,0s);
    }

    &::after{
      bottom: -12px;
      @include transition-property(bottom, transform);
    }

    &::before{
      top: -12px;
      @include transition-property(top, transform);
    }
  }

  &.isActive .middle-bar{

    background: transparent;

    &::after, &::before{
      @include transition-duration(0.2s,0.2s);
      @include transition-delay(0s,0.2s);
    }

    &::after{
      @include rotate(-45deg);
      bottom: 0px;
    }

    &::before{
      @include rotate(45deg);
      top: 0px;
    }
  }
}


.nav-content{
  margin-left: 3vmax;
  margin-right: 3vmax;
  height: 100%;
  padding: 10px 0px 10px 0px;

  @extend %flexbox;
  @extend %justifyContent-spaceBetween;
  @extend %alignItems-center;

  .logo-link {

    @extend %flexbox;
    @extend %flexDirection-row;
    height: 50px;

    img{
      margin-right: 20px;
      display: inline;
      max-height: 100%;
    }

    #logo-siteName {
      font-family: $font-oswald;
      color: $color-greyVeryDark;
      font-size: 3rem;
      margin: 0px;
      display: inline-block;;

      @media screen and (max-width: $break-small) {
        display: none;
      }
    }
  }
}


#nav-desktop{
  @extend %flexbox;
  @extend %justifyContent-spaceBetween;
  @extend %alignItems-center;

  @media screen and (max-width: $break-middle) {
    display: none;
  }

  li
  {
    display: block;
    float: left;

    margin-left: 40px;

    a
    {
      text-decoration: none;
      list-style: none;
      font-weight: 400;
      font-size: 1.9rem;
      color: $color-text;
    }
  }
}


.background-image{
  @extend %bgCover;
}


/********** Default **********/

li{
  list-style: none;
}

a{
  text-decoration: none;
}

body,html{
  width: 100%;
  border: 0px;
}


img{
  border-style:none;
  @extend %userSelect-none;
}


p{
  margin: 30px 0px 20px 0px;
  font-size: $font-size-default;
}

html{
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: $font-sourceSansPro;
  color: #222222;
  font-weight: 300;
  text-decoration: none;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input, textarea, submit, button{
  font-family: $font-sourceSansPro;
  font-size: $font-size-default;
  font-weight: 300;

  &:focus {outline:0;}

  -webkit-appearance: none;
  -webkit-border-radius: 0;
}


textarea, input{
  padding: 12px 10px 12px 10px;
}


input[type="submit"]{
  @extend %button;

  font-size: 2rem;
  font-weight: 300;
}

textarea{
  width: 100%;
  max-width: 100%;
}

body{
  font-size: 2rem;
}

article{
  margin-bottom: 30px;
}

*, *:before, *:after {

  margin: 0;
  padding: 0;

  @extend %boxSizing-borderBox;
}


.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}