@import "baseClass";
@import "theme-settings";

/* Pagination */
#pageOf{
	color: black;
	font-size: 8vmax;
	margin: 0px auto 60px auto;
	text-align: center;
}

.pagination{
	@extend %flexbox;	
	.nav-pagination{
		color: black;
		border-color: black;
	}	
}

/* disable scrolling */
html, body{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: fixed;
}

#slider{
	position: absolute;
	bottom: 7vw;
	right: 7vw;
	
	width: 50px;
	height: 50px;
	
	border: 1px solid;
	
	z-index: 100;
	
	@include transition-duration(0.2s);
	@include transition-property(background-color, border);
	
	display: none;

	&.arrow-top #slider-arrow{
		@include rotate(-90deg);
	}

	// background check
	&.background--light{
		border-color: black;

		#slider-arrow {
			background-image: url('img/arrow-right-black.png');
		}
	}

	&.background--complex{
		border-color: white;

		#slider-arrow {
			background-image: url('img/arrow-right-white.png');
		}
	}

	&.background--dark {
		border-color: white;

		#slider-arrow {
			background-image: url('img/arrow-right-white.png');
		}
	}

	&:hover{
		cursor: pointer;
		border-color: white;
		
		#slider-arrow{
			background-image: url('img/arrow-right-white.png');
		}
	}
}


#slider-arrow{
	width: 100%;
	height: 100%;

	background-size: 30px 30px;
	background-position: center center;
	background-repeat: no-repeat;
	
	@include transition-duration(0.2s);
	@include transition-property(background, transform);
}

#slideDown-container {
  position: absolute;
  bottom: 7vw;
  right: 7vw;

  z-index: 400;
  cursor: pointer;
}

#slideDown {

  background-size: 50px 50px;
  background-position: center center;
  background-repeat: no-repeat;

  height: 50px;
  width: 50px;

  animation: bounceArrow 2s 3;
  -webkit-animation: bounceArrow 2s 3;
  -moz-animation: bounceArrow 2s 3;
  -o-animation: bounceArrow 2s 3;
}


#news-container{
	background-color: $color-greyLight;
	
	height: calc(100vh - 80px);
	
	@media screen and (max-height: $break-small){
		height: calc(100vh - 60px);
	}

	.swiper-pagination{
		
		width: 6px;
		height: 100%;
		left: 0px !important;
		top: 0px !important;
		transform: none !important;
		
		@extend %flexbox;
		@extend %flexDirection-column;
		
		.swiper-pagination-bullet{
			@include flex-grow(1);
			border-radius: 0px;
			margin: 0px !important;
			border: none;
			width: 100%;
		}
		
		&.fadeOut{
			opacity: 0;
			visibility: hidden;
			@include transition-duration(0.2s, 0s);
			@include transition-property(opacity, visibility);
			@include transition-delay(0s, 0.2s);
		}
		
		opacity: 1;
		visibility: visible;
		@include transition-duration(0s, 0.2s);
		@include transition-property(visibility, opacity);
		@include transition-delay(0s, 0.2s);
	}
}


.post{

  height: 100%;
	
  .player{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 100;
  }

  /* canvas helper to calculate bg brightness*/
  canvas{
    display: none;
  }


  .button-readmore, .nav-pagination{
      @extend %button;

      display: inline-block;

      background-color: transparent;
      border: 1px solid;

      font-family: $font-sourceSansPro !important;
      font-size: 2rem;
      font-weight: 400;

      margin-left: auto;
      margin-right: auto;
  }

  .button-play{
      @include circle(70px);
      width: 70px;
      height: 70px;
      border: none;

      background-image: url('img/media-play-symbol.png');
      background-size: 25px 25px;
      background-position: center;
      background-repeat: no-repeat;

      cursor: pointer;
  }

  .post-shadow{

    .post-categories{
        position: absolute;
        max-width: 30%;

        top: 40px;
        right: 40px;

        @extend %flexbox;
        @extend %flex-wrap;
        @extend %justifyContent-end;

        .categorie{
            @extend %button;
            padding: 2px 9px 2px 9px;
            font-size: 1.6rem;
            margin: 0px 15px 10px 0px;
            font-weight: 400;

            border: 1px solid;
        }

    }

    .post-content{

        .post-title{

          p{
                @media screen and (max-width: $break-small){
                    font-size: 11vw;
                }
            }
        }

        .post-text{
            text-align: center;

            // shown on big displays
            .excerpt-long{
                @media screen and (max-width: $break-small){
                    display: none;
                }
            }

            // show it only on small displays
            .excerpt-short{
                display: none;
                @media screen and (max-width: $break-small){
                    display: block;
                }
            }

            p{
                font-size: 4.5rem;
                font-weight: 300;

                @media screen and (max-width: $break-small){
                    font-size: 7vw;
                }
            }
        }
    }
  }

  // background check
  &.background--light{
    color: black;

    #slideDown { background-image: url('img/arrow-right-black-down.png');}

    .categorie{
      color: black;
      border-color: black;
    }
  }

  &.background--complex{
    color: white;

    #slideDown { background-image: url('img/arrow-right-white-down.png');}

    .categorie{
      color: white;
      border-color: white;
    }

    .post-title{
      text-shadow: 0px 0px 60px #686868;
    }

    .post-text{
      text-shadow: 0px 0px 30px #000000;
    }
  }

  &.background--dark {
    color: white;

    #slideDown { background-image: url('img/arrow-right-white-down.png');}

    .categorie{
      color: white;
      border-color: white;
    }

    .post-title{
      text-shadow: 0px 0px 60px #686868;
    }

    .post-text{
      text-shadow: 0px 0px 30px #000000;
    }
  }

}

.player-soundcloud{
	.player{
		@include blur(5px);		
		&.playing{
			@include blur(0px);
		}
	}
}