@import "theme-settings";
@import "baseClass";


.disable_scroll{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: fixed;
}

#site-overlay{
	position: absolute;
	
	background-color: black;
	visibility: hidden;
	
	width: 100%;
	height: calc(100vh - 80px);
	margin-top: 80px;
	left: 0px;
	z-index: 1000;
		
	@media screen and (max-height: $break-small){
		height: calc(100vh - 60px);
		margin-top: 60px;
	}
	
	&.fixIt{
		
		position: fixed;
		// fix chrome
		-webkit-transform: translateZ(0);
		width: 100vw;
		height: 100vh !important;
		top: 0px;
	}
}

/********** Mobile Navigation & Search & post-overlay **********/

#nav-mobile, #search{
	
	width: 100%;
	height: 100%;
	
	position: absolute;
	
	opacity: 0;
	visibility: hidden;
	
	@include transition-duration(0.2s);
	@include transition-property(opacity, visibility);
	@include transition-delay(0s, 0.2s);
	
	&.show{
		opacity: 1;
		visibility: visible;
		
		@include transition-duration(0.2s);
		@include transition-property(opacity);
		@include transition-delay(0s);
	}
}


/********** Search **********/
#search{
	
	z-index: 900;
	
	#search-form{

		@include positionCenter(-50%,-50%);	

		#search-input{
			
			background-color: transparent;
			border: none;
			border-bottom: 1px white solid;
			font-size: 3.5vmax;	
			color: white;
			padding-left: 0px;	
			
			&::-webkit-input-placeholder {
				color: #ffffff;
			}
		
			&:-moz-placeholder { /* Firefox 18- */
			   color: #ffffff; 
			}
			
			&::-moz-placeholder {  /* Firefox 19+ */
			   color: #ffffff;
			}
			
			&:-ms-input-placeholder {  
			   color: #ffffff;
			}
		}
	}	
}

/********** Post Overlay **********/
#post-overlay{
	z-index: 700;
	
	width: 100%;
	height: 100vh;
	
	background-color: white;
	
	.nav-content{
		@extend %flexDirection-row-reverse;
	}
	
	.content-center{
		height: calc(100vh - 80px);
	
		@media screen and (max-height: $break-small){
			height: calc(100vh - 60px);
		}
	}
}


/********** Mobile Navigation **********/
#nav-mobile{
 
 	z-index: 800;
 	
	&.show{
		ul{
			opacity: 1;
			top: 50%;
			
			@include transition-duration(0.2s);
			@include transition-delay(0.2s);
			@include transition-property(top, opacity);
		}
	}
	
	&.fadeOut{
		ul{
			top: 60%;
			opacity: 0;
			
			@include transition-duration(0.3s);
			@include transition-property(top, opacity);
		}
	}
	
	ul{
		@include positionCenter(-50%,-50%);
		
		top: 40%;
		opacity: 0;
			
		li{
			text-align: center;
			position: relative;
			margin-bottom: 4vh;
			
			i{
				color: white;
				font-size: 2.5rem !important;
			}
				
			a{
				font-size: 5rem;
				color: white !important;
				
				@media screen and (max-width: $break-small){
					font-size: 10vw;
				}
			}		
		}
	}
}