@import "baseClass";
@import "theme-settings";
  
$gutterSize: 1vw;
$square-one: 18vw;


#projects-bg{
	background-color: $color-greyLight;
}

.project{
	cursor: pointer;	
	background-color: $color-greyDark;
	overflow: hidden;

	.project-image{
		z-index: 1;
		height: 100%;
		width: 100%;
		position: absolute;
		@include transition-duration(0.3s);
		@include transition-property(all);
	}

	.project-overlay{
		background-color: rgba(0,0,0,0.0);
		@include transition-duration(0.3s);
		@include transition-property(background-color);

		z-index: 2;
		width:100%;
		height: 100%;
		position: absolute;
	}

	.project-title{
		font-family: $font-oswald;
		color: white;
		font-weight: 400;
		font-size: 6vmin;
		text-align: center;
		z-index: 3;
		@include positionCenter(-50%,-50%);
	}

	&:hover{

		.project-image{
			@include transform(scale(1.1));
		}


		.project-overlay{
			background-color: rgba(0,0,0,0.25);
		}
	}
}


.gutter-sizer{
	width: $gutterSize;
}

.project-small{
	
	height: $square-one;
	width: $square-one;
	
	@media screen and (max-width: $break-middle) {
		height: #{$square-one*2 + $gutterSize} ;
		width: #{$square-one*2 + $gutterSize} ;
	}
	
	@media screen and (max-width: $break-small) {
		height: #{$square-one*4 + $gutterSize*3} ;
		width: #{$square-one*4 + $gutterSize*3} ;
	}
}

.project-medium{
	width: #{$square-one*2 + $gutterSize} ;
	height: $square-one;
	
	@media screen and (max-width: $break-middle) {
		height: #{$square-one*2 + $gutterSize} ;
		width: #{$square-one*4 + $gutterSize*3} ;
	}
	
	@media screen and (max-width: $break-small) {
		height: #{$square-one*4 + $gutterSize*3} ;
		width: #{$square-one*4 + $gutterSize*3} ;
	}
}

.project-huge{
	width: #{$square-one*2 + $gutterSize} ;
	height: #{$square-one*2 + $gutterSize} ;
	
	@media screen and (max-width: $break-middle) {
		height: #{$square-one*4 + $gutterSize*3} ;
		width: #{$square-one*4 + $gutterSize*3} ;
	}
	
	@media screen and (max-width: $break-small) {
		height: #{$square-one*4 + $gutterSize*3} ;
		width: #{$square-one*4 + $gutterSize*3} ;
	}
}