/***** Media Query *****/
/***** Color *****/
.text-info {
  color: orange !important; }

.text-alert {
  color: red !important; }

.text-success {
  color: green !important; }

/***** Font *****/
h1 {
  font-size: 4rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 20px 0px 30px 0px;
  color: #222222; }

h2 {
  font-size: 2.7rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 40px 0px 30px 0px; }

h3 {
  font-size: 2.5rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 40px 0px 30px 0px; }

h6 {
  font-size: 6rem;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 0px 0px 15px 0px; }

h7 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0px 0px 20px 0px; }

.fa {
  font-size: 2rem !important; }

.fa-mobile {
  font-size: 3rem !important; }

/***** Animations *****/
/***** Style *****/
/***** Layout *****/
.project .background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

#projects-bg {
  background-color: #f2f5f9; }

#projects {
  margin-top: 40px; }

.project {
  overflow: hidden;
  margin-bottom: 1.5vw; }
  .project .background {
    height: 100%; }
  .project .title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Oswald", Arial, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 4rem;
    text-align: center; }
  .project .text {
    display: none; }

.grid-column-sizer, .teamMemebr {
  width: 22.375vw; }

.grid-gutter-sizer {
  width: 1.5vw; }

.teamMember {
  height: 30vw; }
