/***** Media Query *****/
$break-big:1300px;
$break-middle:1100px;
$break-small:800px;

/***** Color *****/
$color-text: #222222;
$color-text-bright: #a2a4a6;

$color-greyLight: #f3f7fb;
$color-greyDark: #C2C4C6;
$color-greyVeryDark: #626466;


.text-info{
	color: orange !important;	
}
.text-alert{
	color: red !important;
}
.text-success{
	color: green !important;
}

/********** Layout **********/

.content-center{
	padding: 7vw 2vw 7vw 2vw;
	margin: 0px 10vw 0px 10vw;
	width: 80vw;
}

/***** Font *****/ 
$font-oswald: 'Oswald', Arial, sans-serif;
$font-sourceSansPro: 'Source Sans Pro', Arial, sans-serif;
$font-size-default: 2rem;

h1{
	font-size: 4rem;
	font-family: $font-oswald;
	font-weight: 400;
	margin: 20px 0px 30px 0px;
	color: $color-text;
}


h2{
	font-size: 2.7rem;
	font-family: $font-oswald;
	font-weight: 400;
	margin: 40px 0px 30px 0px;
}

h3{
	font-size: 2.5rem;
	font-family: $font-oswald;
	font-weight: 400;
	margin: 40px 0px 30px 0px;
}

.intro{
	font-size: 2.7rem;
	line-height: 1.3;
	text-align: center;
  	color: $color-greyVeryDark;
}

.fa
{
	font-size: 2rem !important;
}

.fa-mobile
{
	font-size: 3rem !important;
}